@using BaseCore.Entidades.ViewModels
@model IEnumerable<IndexPropiedadesVM>;

@{
    ViewData["Title"] = "Administrador";
}

<main role="main" class="contenedor seccion">
    <h1>Administrador de Bienes Raices</h1>

    @if (TempData["Success"] != null)
    {
        <p class="alerta exito">@TempData["Success"]</p>
    }

    @if (TempData["Error"] != null)
    {
        <p class="alerta error">@TempData["Error"]</p>
    }

    <a asp-controller="Admin" asp-action="Crear" class="boton-verde">Nueva Propiedad</a>

    <table class="propiedades">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var propiedad in Model){
                <tr>
                    <td>@propiedad.Id</td>
                    <td>@propiedad.Titulo</td>
                    <td><img class="imagen-tabla" src="@propiedad.Imagen" alt="Imagen Propiedad"/></td>
                    <td>$ @propiedad.Precio</td>
                    <td>
                        <form asp-action="Eliminar">
                            <input type="hidden" name="id" value="@propiedad.Id"/>
                            <input type="submit" class="boton-rojo-block" value="Eliminar"/>
                        </form>
                        <a 
                            class="boton-amarillo-block" 
                            asp-controller="Admin" 
                            asp-action="Editar" 
                            asp-route-id="@propiedad.Id">Actualizar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
